<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ student.first_name }} {{ student.last_name }}</title>
</head>
<body>
    <h1>{{ student.first_name }} {{ student.last_name }}</h1>
    <h3>First Name: {{student.first_name}}</h3>
    <h3>Last Name: {{student.last_name}}</h3>
    <h3>Age: {{student.age}}</h3>
    <h3>Email: {{student.email}}</h3>
    <button><a href="{% url 'students:delete' pk=student.pk %}">Delete</a></button>
    <br>
    <br>
    <button><a href="{% url 'students:list' %}">Back to student list</a></button>
</body>
</html>