<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher List</title>
</head>
<body>
    <h1>Teacher List</h1>
    <button><a href="{% url 'teachers:create' %}">Create Teacher</a></button>
    <br>
    <br>
    <button><a href="{% url 'home' %}">Back to home</a></button>
    {% for teacher in t_list %}
        <a href="{% url 'teachers:detail' pk=teacher.pk %}"><h3>{{ teacher.first_name }} {{ teacher.last_name }}</h3></a>
    {% empty %}
        <h3>No teacher</h3>
    {% endfor %}
</body>
</html>