<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ teacher.first_name }} {{ teacher.last_name }}</title>
</head>
<body>
    <h1>{{ teacher.first_name }} {{ teacher.last_name }}</h1>
    <h3>First Name: {{teacher.first_name}}</h3>
    <h3>Last Name: {{teacher.last_name}}</h3>
    <h3>Subject: {{student.subjects}}</h3>
    <button><a href="{% url 'teachers:delete' pk=teacher.pk %}">Delete</a></button>
    <br>
    <button><a href="{% url 'teachers:list' %}">Back to teacher list</a></button>
</body>
</html>